package urls

const (
	APIPrefix = "{{.APIPrefix}}"
{{- range .Resources}}
	{{.Plural}}Path = APIPrefix + "/{{.PathSegment}}"
{{- end}}
)
{{range .Resources}}
func {{.Name}}Path(id string) string {
	return {{.Plural}}Path + "/" + id
}
{{end}}
