module {{.Module}}

go 1.24.0

require (
	github.com/golang-jwt/jwt/v4 v4.5.2
	github.com/nwidger/jsoncolor v0.3.2
	github.com/spf13/cobra v1.9.1
	github.com/spf13/pflag v1.0.6
	gitlab.com/c0b/go-ordered-json v0.0.0-20171130231205-49bbdab258c2
	golang.org/x/term v0.28.0
)

require (
	github.com/fatih/color v1.18.0 // indirect
	github.com/inconshreveable/mousetrap v1.1.0 // indirect
	github.com/mattn/go-colorable v0.1.14 // indirect
	github.com/mattn/go-isatty v0.0.20 // indirect
	golang.org/x/sys v0.29.0 // indirect
)
