package config

import (
	"encoding/json"
	"fmt"
	"os"
	"path/filepath"
)

type Config struct {
	AccessToken string `json:"access_token,omitempty"`
	URL         string `json:"url,omitempty"`
	Insecure    bool   `json:"insecure,omitempty"`
	Pager       string `json:"pager,omitempty"`
}

func Load() (cfg *Config, err error) {
	file, err := Location()
	if err != nil {
		return
	}
	_, err = os.Stat(file)
	if os.IsNotExist(err) {
		cfg = &Config{}
		err = nil
		return
	}
	if err != nil {
		err = fmt.Errorf("can't check if config file '%s' exists: %v", file, err)
		return
	}
	data, err := os.ReadFile(file)
	if err != nil {
		err = fmt.Errorf("can't read config file '%s': %v", file, err)
		return
	}
	cfg = &Config{}
	if len(data) == 0 {
		return
	}
	err = json.Unmarshal(data, cfg)
	if err != nil {
		err = fmt.Errorf("can't parse config file '%s': %v", file, err)
		return
	}
	return
}

func Save(cfg *Config) error {
	file, err := Location()
	if err != nil {
		return err
	}
	dir := filepath.Dir(file)
	err = os.MkdirAll(dir, os.FileMode(0755))
	if err != nil {
		return fmt.Errorf("can't create directory %s: %v", dir, err)
	}
	data, err := json.MarshalIndent(cfg, "", "  ")
	if err != nil {
		return fmt.Errorf("can't marshal config: %v", err)
	}
	err = os.WriteFile(file, data, 0600)
	if err != nil {
		return fmt.Errorf("can't write file '%s': %v", file, err)
	}
	return nil
}

func Location() (path string, err error) {
	if envConfig := os.Getenv("{{.Binary | upper}}_CONFIG"); envConfig != "" {
		return envConfig, nil
	}

	home, err := os.UserHomeDir()
	if err != nil {
		return "", err
	}

	path = filepath.Join(home, ".{{.Binary}}.json")

	_, err = os.Stat(path)
	if os.IsNotExist(err) {
		configDir, err := os.UserConfigDir()
		if err != nil {
			return path, err
		}
		path = filepath.Join(configDir, "{{.Binary}}", "config.json")
	}

	return path, nil
}

func (c *Config) Armed() (armed bool, reason string) {
	if c.URL == "" {
		reason = "server URL isn't set"
		return
	}
	if c.AccessToken == "" {
		reason = "access token isn't set"
		return
	}
	armed = true
	return
}

func (c *Config) Disarm() {
	c.AccessToken = ""
	c.URL = ""
	c.Insecure = false
}
