package dump

import (
	"encoding/json"
	"io"
	"runtime"

	"github.com/nwidger/jsoncolor"
	ordered "gitlab.com/c0b/go-ordered-json"

	"{{.Module}}/pkg/output"
)

func Pretty(stream io.Writer, body []byte) error {
	if len(body) == 0 {
		return nil
	}
	data := ordered.NewOrderedMap()
	err := json.Unmarshal(body, data)
	if err != nil {
		return dumpBytes(stream, body)
	}
	if output.IsTerminal(stream) && !isWindows() {
		return dumpColor(stream, data)
	}
	return dumpMonochrome(stream, data)
}

func dumpColor(stream io.Writer, data interface{}) error {
	encoder := jsoncolor.NewEncoder(stream)
	encoder.SetEscapeHTML(false)
	encoder.SetIndent("", "  ")
	return encoder.Encode(data)
}

func dumpMonochrome(stream io.Writer, data interface{}) error {
	encoder := json.NewEncoder(stream)
	encoder.SetIndent("", "  ")
	return encoder.Encode(data)
}

func dumpBytes(stream io.Writer, data []byte) error {
	_, err := stream.Write(data)
	if err != nil {
		return err
	}
	_, err = stream.Write([]byte("\n"))
	return err
}

func isWindows() bool {
	return runtime.GOOS == "windows"
}
